
html {
    padding: 20px;
    background-color: black;
    border-color: red;
}

h1 {
    padding-left: 10%;
}

div {
    padding: 20px;
    color: white;
    border-color: darkblue;
    border-style: solid;
    border-radius: 3%;
    
}

img {
    box-align: center;
    border-color: black;
    border-radius: 10%;
}

img .nav-list li{
    padding-bottom: 0;
    background-color: beige;
}

.nav-list{
    color: black;
    border-color: brown;
    border-style: solid;
    border-radius: 15px;
    background-color: cadetblue;
}

