


html {
    padding: 20px;
    background-color: black;
    border-color: red;
    font-family: 'Bruno Ace', cursive;
}

h1 {
    padding-left: 10%;
    color: orange;
}

div {
    padding: 20px;
    color: white;
    border-color: darkblue;
    border-style: solid;
    border-radius: 3%;
    
}

img {
    box-align: center;
    border-color: black;
    border-radius: 10%;
}

h2 {
    color: yellow;
}

.nav-list li{
    padding-bottom: 0;
    padding-left: 5%;
    background-color: darkgray;
    border-radius: 15px;
    
}

.nav-list{
    display: inline;
}

.nav-list img {
    margin-top: 7px;
}



